main{
    background-color: aliceblue;
    display: block;
    height: auto;
    max-width: 600px;
    margin: 0 auto;
    align-items:last baseline;
}

header{
    display: flex;
    justify-content: center;
}

section{
    display: block;
    justify-content: center;
    max-height: 500vh;
    
}

aside{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 50px;
    border-radius: 8px;

    background-color: antiquewhite;
}